mat-card { 
    margin: 10px; 
    width: 400px; 

}

mat-form-field { 
    margin: 5px; 
    padding: 5px; 
    width: 200px; 
} 
input { 
    margin: 5px; 
    padding: 5px; 
    width: 200px;
} 
button {
    margin: 5px; 
    padding: 3px;
}