<br>
<button (click)="goBackArticles()"> Volver </button>

<h3>{{anArticle.title}}</h3> 
<h4>{{anArticle.body}}</h4> 
<button (click)="toggleDetails()"> Detalles </button> 
<br>
<button (click)="loadComments()"> Ver Comentarios </button> 

<p *ngIf="details"> 
    {{anArticle.author.username}} 
    {{anArticle.createdAt}} 
    {{anArticle.tagList}} 
</p>

<ul *ngIf="showComments">
    <li *ngFor="let item of listOfComments">
        <h5>{{item.author.username}}</h5> 
        <p>{{item.body}}</p>
    </li>
</ul> 

<button (click)= "letComment()"> Agregar Comentario </button> 
<div *ngIf="commentFlag">
    <input type="textarea" [formControl]= bodyComment > 
    <br>
    <button (click)= "commentArticle()"> Comentar </button>
</div>
